

.container{
    max-width: 1600px;
    margin: auto;
    background-color: gold;
    color: gray;

}

.main-header{
	background-color: black;
	border-radius:10px ;
	padding: 10px;
	/*margin-bottom: 10px;*/
	text-align: center;
}

.inner-nav{
	background-color: brown;
	border-radius:10px ;
	padding: 20px;
	margin: auto;
	text-align: center;
}

#navbar ul{
	list-style: none;
	padding: 1px;


}
#navbar li{
	display: inline;
}

#navbar a{
	color: burlywood;
	text-decoration: none;
	font-size: 20px;
	padding-right: 20px;

}

.main-class{
	display: flex;
	justify-content: c;
	width: 100%;

}

#inner-section {
	background-color: gold;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}

#main-section {
	background-color:darkblue;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}

.main-article {
	background-color: darkred;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
}

.inner-aside {
	background-color: burlywood;

    width: 40%;
	display: flex;
	justify-content: center;
	color: black;
	padding: 10px;
	align-items: center;
	margin-top:20px ;
	border-radius: 10px;
}

.inner-footer{
	background-color: black;
	width: 100%;
	border-radius: 20px;
	padding: 5px;
	text-align: center;
	margin-top: 20px;
}